.img-header {
    padding: 20px;
    background-color: black;
}

body {
    background-color: #222523;
}



.form-geral {
    color: white;
    display:flex;
    height: 350px;
    justify-content: space-between;
    align-items: flex-end;
    
}

.botao {
    color: black;
    background-color: orange;
    align-items: center;
    border-color: darkorange;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s
    ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.botao-esqueci {
    text-decoration: none;
    color: white;
    margin-left: 10px;

}

.botao-esqueci:hover {
    color: yellow;
    
}

.form-geral {
    display: flex;
    justify-content: center;
}