.card-largura {
    max-width: 18rem;
}

@media(max-width:767px) {
    .carousel-inner>.carousel-item>a>img,
    .carousel-inner>.carousel-item>img {
        width: 100%;
        height: 150px;
    }
}

@media(max-width:450px) {
    .carousel-inner>.carousel-item>a>img,
    .carousel-inner>.carousel-item>img {
        width: 100%;
        height: 150px;
    }
}

@media(max-width:320px) {
    .carousel-inner>.carousel-item>a>img,
    .carousel-inner>.carousel-item>img {
        width: 100%;
        height: 150px;
    }
}

.imagem-carrossel-zero {
    object-fit: fill;
    object-position: 0% 70%;
    height: 460px;
}

.imagem-carrossel-um {
    object-fit: fill;
    object-position: 15% 10%;
    height: 460px;
}

.imagem-carrossel-dois {
    object-fit: fill;
    object-position: 15% 0%;
    height: 460px;
}

.imagem-carrossel-tres {
    object-fit: fill;
    object-position: 15% 10%;
    height: 460px;
}

.imagem-carrossel-quatro {
    object-fit: fill;
    object-position: 15% 10%;
    height: 460px;
}

form {
    margin-top: 0em;
}

.imagem-carrossel-cinco {
    object-fit: fill;
    object-position: 15% 10%;
    height: 460px;
}

.fonte-titulo {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: bold;
}

.cor-resiliaflix {
    color: yellow !important;
}

body {
    height: fit-content;
}

.botao-cor-especial {
    color: white;
    background-color: darkgray;
}

.borda-cor-especial {
    border: 3px thin yellow;
    border-color: yellow;
}

.card-body {
    background-color: lightgray;
}

.card-posicao-imagem {
    object-fit: cover;
    /*object-position: 0 50%;*/
    height: 200px;
}

#movieInfo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#movieResult {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #222523;
}

.botao-cor-especial {
    padding: 10px;
}

.container {
    position: relative;
    width: 50%;
}

.image {
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    display: flex;
    opacity: 0;
    justify-content: center;
    position: absolute;
    transition: .5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.middle:hover {
    opacity: inherit;
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.text {
    position: absolute;
    background-color: yellow;
    color: black;
    font-weight: bold;
    font-size: 16px;
    padding: 16px 32px;
}

#movieSearch {
    background-color: lightyellow;
}

.zoom {
    transform: rotate(360deg);
}

.container-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 600px;
    width: 1800px;
}

#divInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
}

#titleStyle {
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    color: white;
}

#button-hide {
    padding: 5px;
    border-radius: 2px;
    border-color: yellow;
    background-color: #222523;
}

body {
    background-color: #222523;
    padding-bottom: inherit;
}

footer {
    width: 100%;
    background-color: #222523;
    position: fixed;
    bottom: 0;
    left: 0;
}

nav {
    padding-top: 15px;
}

@media screen and (min-width: 267px) and (max-width: 768px) {
    .container-flex {
        display: flex;
        flex-direction: row;
    }
    #sinopse {
        display: none;
    }
    #poster {
        width: 200px;
    }
    #titleStyle {
        font-size: 25px;
        font-weight: bold;
    }
    #movieInfo {
        margin-bottom: 100px;
        padding: 15px;
        text-align: center;
    }
}