.form {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.btn.btn-outline-success {
    background-color: yellow;
    color: black;
    border-color: black;
}

.btn.btn-outline-success:hover {
    color: black;
    background-color: yellow;
    border-color: yellow;
}

.confirmacao {
    text-align: center;
    margin-top: 100px;
}

