
.form-geral {
    color: white;
    display:flex;
    height: 350px;
    justify-content: space-between;
    align-items: flex-end;
}

.btn.btn-outline-success {
    background-color: yellow;
    color: black;
    border-color: black;
}

.btn.btn-outline-success:hover {
    color: black;
    background-color: yellow;
    border-color: yellow;
}

.btn.btn-outline-success:active {
    color: black;
}

.display-press {
    color: black;
    text-decoration: none;
}

.display-press:hover {
    color: black;
}

.botao-esquecer {
    text-decoration: none;
    color: white;
}

.botao-esquecer:hover {
    color: white;
}



.form-geral {
    display: flex;
    justify-content: center;
}